


/* Set the fixed height of the footer here */
/*
#footer {
  height: 120px;
  background-color: black;
}
*/


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*
#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;

}

code {
  font-size: 80%;
}*/


.green {
    color: green;
}

.red {
    color: red;
}